@charset "utf-8";
*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 16px;
}
.container{
    width: 1000px;
    margin: 0 auto;
}

.head-container{
    position: relative;
    display: flex;
    padding: 15px 0;
    float: left;
}
.box-head{
    width: 100%;
    display: block;
    position: relative;
}

.logo{
    position: relative;
    overflow: hidden;
}
.logo-title{
    display: block;
    width: 100%;
    object-fit: cover;
}
.search-box{
    margin-top: 15px;
    width: 200px;
    max-width: 300px;
    height: 25px;
    margin-left: 30px;
    border: 1px solid grey;
    padding: 0 10px;    
    display: flex;
    line-height: 27px;
}
.search-class{
    display: inline;
}
.search-icon{
    width: 20px;
    height: 20px;
    text-align: center;
    float: left;
    margin-right: 10px;
}
.search{
    border: none;
    top: 6px;
    position: relative;
    display: block;
}
.search:focus{
    outline: none;
}
.box-image{
    position: relative;
    width: 100%;
    height: 200px;
    border: 1px solid black;
}
.box-menu{
    width: 100%;
    height: 40px;
    background-color: lightblue;
    position: relative;
}
.box-menu::after{
    content: '';
    display: table;
    clear: both;
}
.menu_bar{
    display: flex;
    position: relative;
    list-style: none;
}
.menu::after{
    content: '';
    display: table;
    clear: both;
}
.menu{
    width: 100px;
    display: flex; 
    position: relative;
    color: white;
    line-height: 40px;
    font-weight: bold;
    float: left;
}
.ham{
    visibility: hidden;
    display: none;
}
#ham-menu{
    font-size: 40px;
    line-height: 40px;
    margin: auto;
    color: white;
}

.container::after,
.search-box::after{
    clear: both;
    content: '';
    display: table;
}



@media (max-width: 650px) {
    .ham{
        visibility: visible;
        display: block;
        float: right;
        width: 10%;
        height: 100%;
        margin: auto;
    }
}